---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import SectionContainer from "../components/SectionContainer.astro";
import LinkdedInIcon from "../components/icons/LinkedIn.astro";
import GitHubIcon from "../components/icons/GitHub.astro";
import MailIcon from "../components/icons/Mail.astro";
import CVIcon from "../components/icons/CV.astro";
import Briefcase from "../components/icons/Briefcase.astro";
import CodeIcon from "../components/icons/Code.astro";
import SocialPill from "../components/SocialPill.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
import UserIcon from "../components/icons/User.astro";
import COIcon from "../components/icons/CO.astro";
import USIcon from "../components/icons/US.astro";
---

<Layout>
  <main class="px-4">
    <SectionContainer class="py-45 pb-20">
      <img
        src="/img/alderph.jpg"
        alt="Alder's Logo"
        class="rounded-full w-13 h-14 mb-2"
      />
      <h1
        class="text-white text-2xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-10"
      >
        Hola, Soy Alder Andres!
        <a
          href="https://www.linkedin.com/in/alder-andres/"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center hover:scale-105 transition"
        >
          <Badge>Open to work</Badge>
        </a>
      </h1>
      <h2 class="text-xl text-wrap">
        <span>Ingeniero de Sistemas.</span>
        <span class="text-blue-100/90"
          >Desarrollador de Software y Tecnólogo en Gestión de Redes de Datos
          con más de 3 años de experiencia en desarrollo de software y análisis
          de datos.</span
        >
        <span class="text-green-100/80"
          >Como proyecto propio, actualmente, desarrollo una aplicación móvil de
          realidad aumentada llamada Animalia AR, para la conservación de
          especies de fauna en peligro de extinción, integrando ARCore y Vuforia
          para una experiencia inmersiva y educativa.</span
        >
      </h2>

      <nav class="flex gap-2 mt-8 flex-wrap">
        <SocialPill href="https://www.linkedin.com/in/alder-andres/">
          <LinkdedInIcon class="w-6 h-6" />
          LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/Alder-dev">
          <GitHubIcon class="w-6 h-6" />
          GitHub
        </SocialPill>
        <SocialPill href="mailto:pkeiner08@gmail.com">
          <MailIcon class="w-6 h-6" />
          pkeiner08@gmail.com
        </SocialPill>
        <button
          id="dropdownHoverButton"
          data-dropdown-toggle="dropdownHover"
          data-dropdown-trigger="hover"
          class="rounded-full border border-white/50 flex justify-center items-center gap-x-2 py-1 px-2 lg:py-2 lg:px-4 bg-white/10 hover:scale-105 hover:bg-white/20 transition"
          type="button"
          >
          <CVIcon class="w-6 h-6" />
          Descargar CV<svg
            class="w-2.5 h-2.5 ms-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 10 6"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 1 4 4 4-4"></path>
          </svg>
        </button>
        <div
          id="dropdownHover"
          class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow-sm w-44 dark:bg-gray-700"
        >
          <ul
            class="py-2 text-sm text-gray-700 dark:text-gray-200"
            aria-labelledby="dropdownHoverButton"
          >
            <li>
              <a
                href="Alder_Palacios_Palacios-SP.pdf" download="CV-Alder-Palacios-SP.pdf"
                class="flex flex-row items-center block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                target="_blank"
                >
                <COIcon class="w-6 h-6" />
                Español (es-co)</a
              >
            </li>
            <li>
              <a
                href="Alder_Palacios_Palacios-ENG.pdf" download="CV-Alder-Palacios-ENG.pdf"
                class="flex flex-row items-center block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                target="_blank"
                >
                <USIcon class="w-6 h-6" />
                English (en-us)</a
              >
            </li>
          </ul>
        </div>
      </nav>
    </SectionContainer>

    <SectionContainer id="experience">
      <h2 class="text-3xl font-semibold mb-2 flex gap-x-3 items-center">
        <Briefcase class="size-8" />
        Experiencia Laboral
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="projects">
      <h2 class="text-3xl font-semibold mb-2 flex gap-x-3 items-center pb-2">
        <CodeIcon class="size-8" />
        Proyectos
      </h2>
      <Projects />
    </SectionContainer>

    <SectionContainer id="about">
      <h2 class="text-3xl font-semibold mb-2 flex gap-x-3 items-center pb-2">
        <UserIcon class="size-6" />
        Sobre mi
      </h2>
      <div>
        <p class="text-xm text-wrap text-pretty text-green-100/80">
          Soy Alder Andrés Palacios, Ingeniero de Sistemas y Tecnólogo en
          Gestión de Redes de Datos, apasionado por la tecnología, el desarrollo
          de software y las soluciones que impactan positivamente en la
          sociedad. Con más de 3 años de experiencia, he trabajado en proyectos
          que van desde plataformas educativas y sistemas de información hasta
          aplicaciones inmersivas con realidad aumentada para el turismo
          ambiental.
        </p>
        <p class="text-xm text-wrap text-pretty mt-4 text-green-100/80">
          Mi enfoque se centra en crear soluciones eficientes, accesibles y
          escalables. Domino tecnologías como JavaScript, PHP, Python, C#, y
          frameworks como Laravel, Flask, Unity, Astro y WordPress. Además,
          tengo experiencia con Docker, MongoDB, MySQL, CKAN y he liderado
          desarrollos para marketplaces, formularios dinámicos, e integraciones
          con APIs. Me motiva el aprendizaje constante y la posibilidad de
          aplicar mis conocimientos para transformar ideas en realidades
          digitales. Cuando no estoy programando, me dedico a crear contenido,
          optimizar equipos y apoyar procesos comunitarios de desarrollo
          tecnológico.
        </p>
        <p class="text-xm text-wrap text-pretty mt-4 text-green-100/80">
          Nivel de ingles: B1
        </p>
      </div>
    </SectionContainer>
  </main>
</Layout>
