---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "09/2025 - Actualmente...",
    title : "Desarrollador Full Stack - Soporte Tecnologico",
    workplace: "MundoSystem.com .EU",
    urlWork: "https://mundosystem.com/portal",
    descriptions: [
      "Desarrollo web FullStack: Diseño, desarrollo e implementación de soluciones web personalizadas utilizando tecnologías como React, Asp.NET Core, Entity Framework y bases de datos SQL Server.",
      "Soporte Técnico: Proporcionar soporte técnico integral a los usuarios, resolviendo problemas relacionados con hardware y software para garantizar un funcionamiento óptimo de los sistemas.",
      "Docente de Logica de Programacion: Impartición de cursos y talleres sobre lógica de programación, ayudando a los estudiantes a comprender los fundamentos de la programación y el desarrollo de software.",
      "Docente de Informatica Básica: Enseñanza de conceptos básicos de informática, incluyendo el uso de sistemas operativos, aplicaciones de oficina y navegación por internet.",
    ],
    links: [],
  },
  {
    date: "09/2020 - Actualmente...",
    title: "Freelance",
    workplace: "Varios Clientes",
    urlWork: "#",
    descriptions: [
      "Desarrollo web: Creacion de la landing page de Animalia AR, una aplicacion movil de realidad aumentada para la conservacion de especies de fauna en peligro de extincion de la region del pacifico colombiano, usando Astro.",
      "Desarrollo web: Creacion del sitio web de Reciclacho, una landing page para la gestion de residuos solidos en la ciudad de Quibdo-Choco usando WordPress y PHP.",
      "Desarrollo Movil: Creacion de la aplicacion movil Reciclacho para la gestion de residuos solidos en la ciudad de Quibdo-Choco, usando React Native y Firebase.",
      "Desarrollo Web: Creacion de la pagina - Marketplace Narcicrochet para la venta de prendas de ropa realizadas a mano usando crochet, usando WordPress y WooCommerce.",
      "Desarrollo web: Creacion de una plataforma de asociaciones de cabildos Indigenas del Choco, para la publicacion de actividades comunitarias realizadas por estas asociaciones.",
      "Desarrollo web: Creación de una página de noticias y convocatorias para la entidad Unión Temporal, utilizando PHP y WordPress.",
      "Gestión ofimática: Implementación y administración de Microsoft SharePoint y Microsoft 365.",
      "Soporte TI: Asistencia técnica en hardware, software y redes.",
      "Animalia AR: Desarrollo de una aplicación móvil con Unity, Vuforia y AR Fundation para la conservación de especies de fauna en peligro de extinción de la region del pacifico."
    ],
    links: [
      {
        label: "Landing Page Animalia AR",
        url: "https://page-seven-orpin.vercel.app",
      },
      {
        label: "Unión Temporal",
        url: "https://utterritorio.com",
      },
      {
        label: "UT Indigena Choco",
        url: "https://utindigenachoco.com",
      },
      {
        label: "Reciclacho",
        url: "https://reciclacho.com",
      },
      {
        label: "Narcicrochet",
        url: "https://narcicrochet.com",
      },
    ],
  },
  {
    date: "02/2024 - 08/2025",
    title: "Desarrollador Web - Asistente de Procesos Tecnológicos",
    workplace: "Universidad Tecnologica del Chocó",
    urlWork: "https://utch.edu.co",
    descriptions: [
      "Desarrollo de un repositorio de datos abiertos con Python (Flask, integrando CKAN) para la generación y publicación de datos abiertos de la calidad educativa de más de 60 instituciones del departamento del chocó.",
      "Participación como personal de apoyo tecnológico, brindando soporte y capacitación en la implementación, optimización del sistema y de otras plataformas de gestión académica, ambiente virtual y entrenamiento de pruebas saber a mas de 30 Instituciones Educativas del Chocó.",
    ],
    links: [
      {
        label: "Datos abiertos",
        url: "https://datos.investigacioneducativachoco.edu.co",
      },
      {
        label: "Gestion academica",
        url: "https://academico.investigacioneducativachoco.edu.co",
      },
      {
        label: "Pruebas saber",
        url: "https://saber.investigacioneducativachoco.edu.co",
      },
    ],
  },
  {
    date: "09/2024 - 12/2024",
    title: "Desarrollador Web Full Stack",
    workplace: "PotenciAfro",
    urlWork: "https://potenciafro.com",
    descriptions: [
      "Desarrollo e implementación de la plataforma PotenciAfroConéctaTech, que integró:",
      "Marketplace que visibiliza y comercializa productos,afrodescendientes, con herramientas personalizables y seguras, con más de 60 tiendas activas.",
      "Implementación completa con WordPress, optimizando rendimiento y usabilidad.",
      "Desarrollo de pagina web institucional de la Institucion Educativa Timbiqui, usando WordPress y PHP.",
    ],
    links: [
      {
        label: "PotenciAfroConectaTech",
        url: "https://potenciafroconectatech.com",
      },
      {
        label: "Institucion Educativa Timbiqui",
        url: "https://iesanjosedetimbiqui.edu.co/",
      },
    ],
  }
];
---

<ol class="relative border-s border-gray-200 ml-4">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
