<footer class="rounded-lg shadow m-4 bg-black/20 backdrop-blur-lg">
  <div class="w-full mx-auto p-4 flex items-center justify-center">
    <span class="text-sm text-gray-500 dark:text-gray-400 text-center">
      Alder Andres &copy; {new Date().getFullYear()}. Desarrollador de Software.
    </span>
  </div>
</footer>
